<h1>Products</h1>


<ul>
  <% @products.each do |item| %>
  <li>
    <p> <%= link_to(item.name, product_path(item.id))%> </p>
    <p> <%= item.discription %>  </p>
    <p> <%= item.price_in_cents %>  </p>
  </li>
  <% end %>

</ul>
